[submodule "homebrew-tap"]
	path = homebrew-tap
	url = git@github.com:njyeung/homebrew-tap.git
[submodule "reels-bin"]
	path = reels-bin
	url = ssh://aur@aur.archlinux.org/reels-bin.git
[submodule "npm-package"]
	path = reels-npm-package
	url = git@github.com:njyeung/reels-npm-package.git
